*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body{
  max-width: 1480px;
  margin: 0 auto;
}

header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

ul {
  margin: 1rem;
}

ul a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}

ul a:hover {
  color: red;
}

/* COROSELLO */

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-item {
  position: relative;
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {  width: 100%;
  height: 100%;
  object-fit: cover; /* L'immagine copre completamente l'area disponibile */
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  text-align: center;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/* SECTION CON CARD */

h2 { 
  text-align: center;
  margin-top: 2rem;
} 


/* AUTO.HTML */


.p-container{
  color: black;
  font-size: 1.1rem;

}

.container{
  display: flex;
  margin-top: 4rem;
  align-items: center;
  margin-bottom: 4rem;
}

.container img{
  max-width: 300px;
  max-height: 298px;
  object-fit: cover;
}
h3 {
  text-align: center;
  margin-top: 1rem;
}

/* GALLERIA IMMAGINI */

.gallery-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  overflow: hidden;
  gap: 10px;
  margin-top: 1rem;
  /* flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5rem; */
}
.gallery-container img{
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  overflow-x: hidden;
}


/* EFFETTO OVERLAY */

.image-wrapper {
position: relative;
  width: 200px;
  height: 150px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; /* Transizione morbida per la comparsa del testo */
} 

.overlay .text {
  color: white;
font-size: 20px;
  text-align: center;
  padding: 10px;
}
.image-wrapper:hover .overlay {
 opacity: 1; /*Mostra il testo al passaggio del mouse */
}  


/* FINESTRA MODALE*/

/* Stile per la finestra modale */
.modal {
  display: none; /* Nascondi la finestra modale di default */
  position: fixed; /* Resta in posizione fissa */
  z-index: 1; /* Viene visualizzata sopra il contenuto */
  padding: 90px; /* Spazio sopra alla finestra modale */
  left: 0;
  top: 0;
  width: 100%; /* Larghezza piena */
  height: 100%; /* Altezza piena */
  overflow: auto; /* Abilita lo scroll se necessario */
  background-color: rgb(0,0,0); /* Colore di sfondo */
  background-color: rgba(0,0,0,0.9); /* Sfondo con trasparenza */
}

/* Stile per il contenuto della finestra modale */
.modal-content {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Stile per la chiusura della finestra modale */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Caption */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Testo aggiuntivo */
#modalText {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}


/* CARD */

.card {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
   position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
  
article a::after {
 position: absolute;
 inset-block: 0;
 inset-inline: 0;
 cursor: pointer; 
 content: "";
}
  
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}
  
figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
  
article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}
  
.article-body {
  padding: 24px;
}
  
article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}
  
article a:focus {
 outline: 1px dotted #28666e;
}
  
article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}
  
.card:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
  /* CARD */
  
*,
*::before,
*::after {
  box-sizing: border-box;
}
  
  
.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin-top: 2rem;
}
  
@media screen and (max-width: 960px) {
  article {
  container: card/inline-size;
  }
  .article-body p {
  display: none;
  }
}
  
@container card (min-width: 380px) {
  .article-wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 16px;
}
.article-body {
  padding-left: 0;
}
figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
figure img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
 }
}

.sr-only:not(:focus):not(:active) {
 clip: rect(0 0 0 0); 
 clip-path: inset(50%);
 height: 1px;
 overflow: hidden;
 position: absolute;
 white-space: nowrap; 
 width: 1px;
}


































/* Media Queries */
@media (max-width: 768px) {
    .carousel {
        width: 100%;
        max-height: 40vh; /* Altezza massima del 40% della viewport per schermi più piccoli */
    }

    .carousel-caption {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    /* Media query per schermi inferiori a 478px */
    /* body {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .carousel {
        width: 100%;
        max-height: 50vh; /* Altezza massima del 50% della viewport per schermi molto piccoli */
    }

    .carousel-caption {
        font-size: 12px;
    }
}

