:root, body{
    height: 100vh;
    margin: 0;
}

header, footer{
    background-color: lightgreen;
}

main{
    background-color: salmon;
}

/* iniziamo mettendo il body in display grid! */

body{
    display: grid;
    /* i valori qua dentro assegnano i valori alle righe */
    /* grid-template-rows: auto 1fr auto; */
    /* i valori qua dentro assegnano i valori alle colonne */
    grid-template-columns: auto 1fr auto;
}